In [1]:
fruits=['Apple','Mango','Guava','Kiwi','Dragonfruit']

In [2]:
new_fruits = list()
for item in fruits:
    new_fruits.append(item.lower())

In [3]:
new_fruits

['apple', 'mango', 'guava', 'kiwi', 'dragonfruit']

In [4]:
fruits=['apple','mango','guava','kiwi','dragonfruit']

In [5]:
new_fruits = list()
for item in fruits:
    new_fruits.append(item.upper())

In [6]:
new_fruits

['APPLE', 'MANGO', 'GUAVA', 'KIWI', 'DRAGONFRUIT']

# using list comperhension

In [1]:
fruits=['apple','mango','guava','kiwi','dragonfruit']
[item.lower() for item in fruits]

['apple', 'mango', 'guava', 'kiwi', 'dragonfruit']

In [2]:
#use for loop and list compherinsion both to find the square of number between 1 to 10?

In [9]:
sq= [ ]
for index in range(1,10):
    sq.append( index ** 2)
    print(sq)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
[index **2 for index in  range (1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# syntax

# find the even number between 1 to 25 using list append

In [12]:

[index for index in range(2,25,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
list compherhension with if

In [10]:
# i want all negative number from given list.

In [18]:
numbers =[0,-2,3,-11,5,-1,8]

# syntax
```python 
[expression for item in iterable if True]
```

if ko condition true then only expression value will run or comes out otherwise its skips.

In [19]:
[item for item in numbers if item < 0]

[-2, -11, -1]

# List compherension with if and else

In [18]:
``` python
[expression if true else expression for item in iterables]
```

SyntaxError: invalid syntax (3396118826.py, line 1)

# Relu activition function

<img src="https://miro.medium.com/v2/resize:fit:754/1*3JUMOqugWKB2SDra6x6v0A.png">

In [20]:
[0 if z<=0 else z for z in range(-10, 10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# only accept the item that are not apple from fruits list
fruits=['apple','banana','apple','mango']
[fruit for fruit in fruits if fruit != 'apple']

['banana', 'mango']