In [1]:
print("Hello world!")#print statement

Hello world!

# Words followed by hastag is a comment.

In [2]:
x = 4
y = 5
z = 8
sum = x + y 
sub = sum - z
mul = x * y * z
div = sum / 3 
print(sum)
print(sub)
print(mul)
print(div)
modul = z % x
print(modul)
expo = 8 ** 2
print(expo)
floor = 15//2
print(floor)

9
1
160
3.0
0
64
7

# Python is a interprated high level programming language which is case sensitive.

In [3]:
#case sensitive

In [4]:
False = 0

SyntaxError: cannot assign to False (1372912897.py, line 1)

# Assigning strings to the variables and to print them.

In [ ]:
A = "Apple"
a = "ace"
print(f"the value of A is {A}")
print(f"the value of a is {a}")

In [ ]:
A = "Apple"
B = "Ball"
print("the value of A is {}".format(A))
print("the value of B is {}".format(B))

In [ ]:
First_person = "Hari"
Second_person = "Sita"
print("The Name of First_person is {}".format(First_person))
print("The Name of Second_person is {}".format(Second_person))

In [ ]:
min1 = 42    #WAP TO FIND HOW MANY SECONDS ARE IN 42 MINUTES AND 42 SECONDS.
sec1 = 42
sec2 = (42 * 60)
Total_sec = sec1 + sec2
print(Total_sec)

# Swaping values if two variables.

In [ ]:
X = 56
Y = 24 
Z = X
X = Y
Y = Z
print(X)
print(Y)

# UPDATING VALUES OF A VARIABLE

In [ ]:
a = 25
print(f"Before a = {a}")
a = 999
print(f"After a = {a}")

# WAP HOW MANY MILES ARE THERE IN 10 KILOMETERS.

In [ ]:
km_1 = 10 #if value is fixed 
miles_1 = 10/1.609
print(miles_1)

In [ ]:
km = float(input("enter the values in kms: "))#asking value with user.
miles = km / 1.609
print(km, "kms in miles will be ", miles, "miles")

In [ ]:
min_1 = 42
sec_1 = 42
sec_2 = min_1*60
total_sec = sec_1 + sec_2
print(total_sec)

In [ ]:
min = int(input("enter the values in min: "))#asking value with the user.
sec1 = 2
sec = (min*60) + sec1
total = sec1 + sec
print(min, "min in sec will be ",total, "sec" )

In [ ]:
hours= int(input("enter the values in hours: ")) 
minute = hours * 60
sec= hours * 60**2
print(hours, "hours in minute will be ", minute, "minutes")
print(hours, "hours in sec will be ", sec, "seconds")
min = int(input("enter the values in min:"))
hours = min//60
sec = min*60
print(min,"min in hours will be ",hours, "hours")
print(min,"min in sec will be ", sec, "seconds")

In [ ]:
km =int(input("enter the values in km:"))
meter = km*1000
cm = (km*1000)*100
mm = (km*1000)*100**2
print(km,"km in meter will be", meter, "meters")
print(km, "km in cm will be",cm , "centimeters")
print(km, "km in mm will be", mm, "millimeter")

# if you run 10 kilometers in 42 minutes 42 seconds, what is your average pace.

In [ ]:
km = 10
miles = 10/1.609
min1 = 42
sec1 = 42
min2 = sec1/60
total_min = min1 +  min2
average_pace = miles / total_min
print(average_pace)

In [ ]:
hour = int(input("enter the value in hour: "))
miles = hour/1.609
min = int(input("enter the value in min: "))
sec =min*60
sec2 = 42
total = sec + sec2
avg_pace = miles/total
print(avg_pace)

# Assignment:
* The volume of a sphere with radius r is 4/3 pie r**3. What is the volume of a sphere with radius 5?

In [ ]:
r1 = 5
vol = (4/3) * (22/7) * (r1**3)
print(f"the volume of the sphere having radius {r1} is",vol,"cc")

In [ ]:
x = 20
y = 30 
temp = x
y = temp 
print(x)
print(y)

In [ ]:
age = int(input("enter the age: "))
if (age>=18):
    print("the person is alligible for voting ")
else:
    print("the person is not alligible for voting")

# Wap a program to display 'Hello' if a number entered by user is a multiple of five , otherwise print "Bye".

In [ ]:
num = int(input("enter any number: "))
if(num%5==0):
    print("Hello")
else:
    print("Bye")

# Wap to check whether last digit entered by a user is divisible by 3 or not.

In [ ]:
num = int(input("enter any number: "))
last_num =num % 10
if(last_num % 3 == 0):
    print("the entered number is divisible by 3")
else:
    print("the entered number is not divisible by 3")

In [ ]:
for letter in s:
    if letter == "a" or letter == "e" or letter == "i" or letter== "o" or letter == "u":
        print(f"the letter {letter} is vowel")
    else:
        print(f"the letter {letter} is consonant")

In [ ]:
for letter in s:
    if letter == "a" and letter == "e" and letter == "i" and letter== "o" and letter == "u":
        print(f"the letter {letter} is vowel")
    else:
        print(f"the letter {letter} is consonant")

In [ ]:
s = "Hamro nepal ma"

In [ ]:
for index in range(0,len(s), 1):
    print(s[index])

In [ ]:
s = "Hamro nepal ma "

In [ ]:
for index in range(0,len(s), 1):
    print(index,s[index])

In [ ]:
s[7:10]#slicing

In [ ]:
s = "Hamro nepal ma"
start = len(s)-1
step = -1
stop = -1
for index in range(start, step,stop):
    if s[index]==" ":
        continue
    print(index, s[index])

In [ ]:
s ="sunny day"
for index in range(len(s)-1, -1, -1):
    print(index, s[index])

In [ ]:
for item in s:
    print(item)

In [ ]:
s ="hello world"
for index, letter in enumerate (s):
    if letter==" ":
        continue
    print(index, letter)

# Wap that asks user to enter a string and prints the string in reverse order.

In [ ]:
s=str(input("enter a string: "))
for index in range(len(s)-1,-1 , -1):
    print(index, s[index])

# wap that asks the user to enter a string and prints the number of vowels in the string.

In [ ]:
letter=str(input("enter the string: " ))
for letter in s: 
      if letter == "a" or letter == "e" or letter =="i" or letter =="o" or letter =="u":
        print(f"the letter {letter} is a vowel.")

# Each world capatilized

In [ ]:
speech =str(input("enter a sentence: "))
speech.upper()

# vowels replaced by the characters "o"

In [ ]:
string=str(input("enter a string: "))
for i in string:
    if i in 'aeiou':
        print('o',end=' ')
    else:
        print(i,end=' ')

In [ ]:
txt ="I Like orange Apple Banana and Kiwi."
txt[6:35]
if txt=="and":
    print(txt)

In [ ]:
str=input("enter a string: ")
vowels=0
consonant=0
for i in str:
    if(i =='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1;
    else:
        consonant=consonant+1;
print("The number of vowels:",vowels);
print("\nthe number of consonant:",consonant);

In [ ]:
s = input("enter a string: ")
t = input("enter a string: ")
print(s+" "+t)

In [ ]:
text=("I like orange apple banana and kiwi")
text=text.lower()
text=text[7:]
text=text.replace(" and ",' ')
text=text.split(" ")
print(text)

In [ ]:
for item in range(3):
    mayor = input("enter the mayors name: " )
    city = input("enter the city name: " )
    dict ={mayor:city}
print(dict)

In [ ]:
data_lists=[]
d = {}
for item in range(3):
    d["name"] = input("name: ")
    d["mayor_of"] = input("mayor_of: ")
    d["age"] = input("age: ")
    d["gender"] = input("gender: ")
    data_lists.append(d)
    print(data_lists)

In [ ]:
string=input("enter a string: ")
upper_case =0
lower_case =0
for i in string:
    if

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

# write a program to define the factorial of numbers from 5 to 8 using function.

In [ ]:
def factorail(i):
    if i == 0:
        return 1
    else:
        return i * factorail(i-1)
for num in range(5,8):
    fact = factorail(num)
    print(f"the factorail of {num} is {fact}")

# write a python function to find the  factorail of the non negative integer.

In [34]:
import random
random.seed(5)
num =random.randint(0,10)
print(num)

9

In [35]:
def factorial(num):
    if num < 0:
        return None 
    fact = 1
    if num == 0 or num == 1:
        return fact
    for i in range(2, num+1):
        fact = fact * 1
    
    return fact

In [36]:
num = 9
factorial (num = num)

1

# write a program using function to check if the given input number is prime or not if prime number return true and else return false.

In [ ]:
def prime_num(input_num):
    if num < 2:
        return False
    for i in range(2,input_num):
        if input_num % num == 0:
            return False
        return True

In [ ]:
import random
user_input =random.randint(0, 100)
status = prime_num(input_num = user_input)
print(user_input,"is_prime? ", status)

# write a python program that accepts the string and calculate the number of upper_case letter and lower_case letter.

In [42]:
msg = "RegEX"
def count_upper_lower(msg):
    upper =0
    lower =0
    for i in msg:
        if i.isupper():
            upper = upper + 1
        elif i.lower():
            lower = lower + 1
            
    return upper,lower

In [43]:
up , lo = count_upper_lower(msg)

In [44]:
up

3

In [45]:
lo

2

# write a python program that accepts a hyprn-seperated of words as input and print a word in a hypen-seperated sequnece after sorting them alphabetically.

In [6]:
items ='green-red-yellow-black-white'

In [8]:
def sort_hyphenated_words(words):
    word_list=words.split('-')
    sorted_words = sorted(word_list)
    sorted_sequence ='-'.join(sorted_words)
    return sorted_sequence

input_sequence ='green-red-yellow-black-white'
sorted_sequence = sort_hyphenated_words(input_sequence)
print("sorted sequence: ", sorted_sequence)

sorted sequence:  black-green-red-white-yellow

# wap to find list comprehension both to find square of numbers between 1 to 10 using function

In [11]:
def find_squares(start,end):
    squares = [num ** 2 for num in range(start, end+1)]
    return squares
start_num = 1
end_num = 10
square_list = find_squares(start_num, end_num)
print("list of squares:",square_list)

list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# wap function to find the list of even numbers between 1 to 25.

In [21]:
def even_num(start,end):
    evens =[num  for num in range(start, end +1) if num % 2 == 0]
    return evens
start_num = 1
end_num =25
evens_list = even_num(start_num,end_num)
print("list of evens:", evens_list)

list of evens: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

# mean of given list using function.

In [49]:
def mean(numbers):
    total = sum(numbers)
    count = len(numbers)
    mean = total / count
    return mean
number = [10, 15, 20, 25, 30]
result = mean(number)
print(result)

TypeError: 'int' object is not callable