# tuples

* collection of item under one variable name
* items are placed inside round bracket() seperated by coma
* allows duplicate
* immutable

In [3]:
# empty tuple
fruits= tuple()
type(fruits)

tuple

In [4]:
# empty tuple
friends=()
type(friends)

tuple

# create a tuple of cities in nepal

In [5]:
city = ('kathmandu','bhakatapur','lalitpur','dharan','bharatpur')
type(city)

tuple

# indexing

In [6]:
city[3]

'dharan'

In [7]:
city[-2]

'dharan'

In [8]:
city[2:4]

('lalitpur', 'dharan')

In [9]:
city[3:5]

('dharan', 'bharatpur')

# calculate mean

In [10]:
data= (2,4,6,8,12)

In [14]:
total=0
for item in data:
    total =total+item
    mean = total/len(data)
    print(mean)

0.5
1.5
3.0
6.0

# tuple is immutable

In [24]:
cars =('bmw','tesla','mercedes')

In [25]:
cars[1]

'tesla'

In [26]:
cars[1] ='tata'

TypeError: 'tuple' object does not support item assignment

In [30]:
cars=['tesla','bmw','mercedes']# list are muutable

In [31]:
cars[1]

'bmw'

In [33]:
cars[1] ='tata'

In [34]:
cars

['tesla', 'tata', 'mercedes']

# Type catsting

In [43]:
cars=('tesla','bmw','mercedes')
type(cars)

tuple

In [44]:
cars =list(cars)
type(cars)

list

In [45]:
cars.append("lamvo")

In [39]:
cars

['tesla', 'bmw', 'mercedes', 'lamvo']

In [40]:
cars

['tesla', 'bmw', 'mercedes', 'lamvo']

In [41]:
cars= tuple(cars)

In [42]:
cars

('tesla', 'bmw', 'mercedes', 'lamvo')

# tuple unpacking

In [46]:
a ,b=('hello','sakar')
a

'hello'

In [47]:
b

'sakar'

In [50]:
a, b, c =('hello','sakar','kalu don')

In [51]:
# list is a coollection wehich is ordered and changable. allows duplicate members.

In [52]:
l1 =[5,5.3,'aayus',(55,6)]

In [53]:
l1[3]

(55, 6)

In [54]:
l1[3][1]

6

In [55]:
t1 =(5,5.3,'aayus',(55,6))
t1

(5, 5.3, 'aayus', (55, 6))