# Dictionary

* mapping data type
* key: value pair
* written in `{}` each `key : value` is  seperated by comma
* key cannot be duplicated

In [2]:
# eg. creating empty dictionary

In [3]:
about = {}

In [4]:
type(about)

dict

In [6]:
about =dict()
type(about)

dict

# examples of dictionary

In [7]:
a = {1: 'aayus', 2: 'bibek',3: 'champa'}

In [8]:
a

{1: 'aayus', 2: 'bibek', 3: 'champa'}

In [9]:
students = {
    "name": ['biksah','pranil','nabin']
}

In [10]:
students

{'name': ['biksah', 'pranil', 'nabin']}

In [11]:
{1.2:88}#float can be key

{1.2: 88}

In [12]:
#tuple,list cannot be key

# adding key values pairs in dictionary

In [14]:
about = { 'name': 'kshitiz'}
about

{'name': 'kshitiz'}

In [15]:
# first methond

In [16]:
about['teaches'] = ['Python','Ai','Datascience']

In [17]:
about

{'name': 'kshitiz', 'teaches': ['Python', 'Ai', 'Datascience']}

In [19]:
# second method : use .update()

In [20]:
about

{'name': 'kshitiz', 'teaches': ['Python', 'Ai', 'Datascience']}

In [21]:
about.update({'workers_at': 'Brodway'})# update() bhitra dictionary pass hunxa hunxa

In [22]:
about

{'name': 'kshitiz',
 'teaches': ['Python', 'Ai', 'Datascience'],
 'workers_at': 'Brodway'}

# taking user update which takes user input and segregate country with capital.

In [34]:
for i in range(3):
    country= input("enter the country name")
    capital= input("enter the capital name")
    dict_1 ={country:capital}
    print(dict_1)

enter the country namenepal
enter the capital namekathmandu
{'nepal': 'kathmandu'}
enter the country namejapan
enter the capital nametokyo
{'japan': 'tokyo'}
enter the country nameindia
enter the capital namenew delhi
{'india ': 'new delhi'}

In [35]:
# if key of dictionary already exists while 
d ={'netflix':50000}

In [36]:
d

{'netflix': 50000}

In [37]:
d.update({'netflix':80000})

In [38]:
d

{'netflix': 80000}

In [39]:
#update le key value exist gardai na bhana naya key: vlaue pair halxa
# if exist garxa vane value update garxa

In [40]:
d =({'netflix': 60000})

In [41]:
d['netflix'] =600 # key already exists garxa so value cahnge hunxa
d

{'netflix': 600}

# accessing value of a key in a dictionary

In [42]:
about ={
    'name':'kshitiz',
    'works_at':"brodway",
    'age':26,A
    'teaches':['python','AI','ML']
}

In [43]:
about

{'name': 'kshitiz',
 'works_at': 'brodway',
 'age': 26,
 'teaches': ['python', 'AI', 'ML']}

In [44]:
about['works_at']# one mothod

'brodway'

In [45]:
about.get('works_at') #other method

'brodway'

In [46]:
about['gender'] # navako key khojera paidaina

KeyError: 'gender'

In [51]:
about.get('date','not found')# if gender key exist gardina bhanan not found lakhna.

'not found'

In [52]:
about.get('gender',None)#default ma none hunxa

# .keys() and.values()method

In [59]:
about ={
    'name':'kshitiz',
    'works_at':"brodway",
    'age':26,
    'teaches':['python','AI','ML']
}

In [60]:
about.keys()

dict_keys(['name', 'works_at', 'age', 'teaches'])

In [61]:
about.values()

dict_values(['kshitiz', 'brodway', 26, ['python', 'AI', 'ML']])

In [62]:
about.items()

dict_items([('name', 'kshitiz'), ('works_at', 'brodway'), ('age', 26), ('teaches', ['python', 'AI', 'ML'])])

In [65]:
for item in about.items(A):
    print(item)

('name', 'kshitiz')
('works_at', 'brodway')
('age', 26)
('teaches', ['python', 'AI', 'ML'])

In [66]:
for key,val in about.items():
    print(key)

name
works_at
age
teaches

In [67]:
for key, val in about.items():
    print(val)

kshitiz
brodway
26
['python', 'AI', 'ML']

In [72]:
about ={
    'name':'kshitiz',
    'works_at':"brodway",
    'age':26,
    'teaches':['python','AI','ML']
}
for key, val in about.items():
    print(f"the key is {key} and the value is {val}")

the key is name and the value is kshitiz
the key is works_at and the value is brodway
the key is age and the value is 26
the key is teaches and the value is ['python', 'AI', 'ML']

# dictionary comprehension
* sawp key value pair of dictionary

In [76]:
d = {1 : 'one',5: 'five',10: 'ten'}

In [77]:
{val:key for key ,val in d.items()}

{'one': 1, 'five': 5, 'ten': 10}

# zip()

In [79]:
country=['nepal','india','japan']
capital=['kathmandu','new delhi','tokyo']

In [80]:
zip(country,capital)

In [82]:
dict(zip(country,capital))

{'nepal': 'kathmandu', 'india': 'new delhi', 'japan': 'tokyo'}