In [1]:
5 + 6

11

In [2]:
5 * 6

30

In [3]:
X = 5
Y = 8
TOTAL = X * Y
print(TOTAL) 
mul =X * Y
print(mul)

40
40

In [4]:
print("hello world") #print statement

hello world

#This is a comment and it is not executed

Hello guys

#Arthematic Operators
Arthematic operator are used with numeric values to perform common mathematicla operations:
  * Addition (+)
  * Subtraction (-)
  * Multiplication (*)
  * Division (/)
  * Modulus (%)
  * Exponentiation (**)
  * Floor division (//)

In [5]:
15 % 2 #modulus le remainder dinxa

1

In [6]:
2 * 3

6

In [7]:
2 ** 3 #2 ko power 3 or cube

8

In [8]:
15/2

7.5

In [9]:
15//2 # divide and select floor value

7

assignment in alzebra bata garna

In [10]:
x = 20
y = 14 
sum = x + y
print(sum)#print statement
sub = x - y
print(sub)

34
6

In [11]:
x = 8
y = 4
z = 5
mul = x * y * z#Multiplication
print(mul)#print statement
div = x / y#division 
print(div)

160
2.0

In [12]:
x = 15
y = 2
mod = x % y#modulus
print(mod)

1

In [13]:
#Exponentation 
x = 4 ** 3
y = 5 ** 2
print(x) 
print(y)

64
25

In [14]:
#Floor division
X = 15 // 2
   y = 21 // 2 
print(x)
print(y)

IndentationError: unexpected indent (4009149456.py, line 3)

In [ ]:
x = 16
y = 28 
z = 46
sum = x + y + z
print(sum)
average = sum / 100 
print(average)
floor = sum // 4
print(floor)

Second day of python training.

In [17]:
#package manager[pip,conda,Anoconda].

In [20]:
"aayus" + "gc"

'aayusgc'