Hello!

#variable naming convention

Python keywords cannot be variable name
* Keywords are used the reserved words in Python.
* We cannot use a keywords as a variable name, function name or any other identifier.
* They are used to define the syntax and structure of the Python language.
* In Python, keywords are case sensitive.

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
#keywords cannot be variable names.

#Python keywords are case sensitive.
* uppercase re lowercase farak manxa programming language le vane tyo case sensative language ho.

In [4]:
False = 0 #False is a keyword

SyntaxError: cannot assign to False (1672357174.py, line 1)

In [5]:
false = 0 #false is a variable name

##Python is a case sensitive language while SQL is case insensative language.

In [8]:
A = "apple"
a = 'ace'
print(f"The value of A is {A}")
print(f'The value of a is {a}')

The value of A is apple
The value of a is ace

In [9]:
A = 'Apple'
a = 'ace'
print("The value of A is {}".format(A))
print("The value of a is {}".format(a))

The value of A is Apple
The value of a is ace

#We cannot use special symbols like `!,@,#,$,%`etc.in our identifier.

In [10]:
@name = "Aayus"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1491856118.py, line 1)

In [11]:
name = 'Aayus gc'

In [12]:
$Name = "Ram sharma"

SyntaxError: invalid syntax (2417998255.py, line 1)

# You cannot use space bar on variable name

In [14]:
first name = "Ram"

SyntaxError: invalid syntax (4265613684.py, line 1)

In [15]:
firstname = "Ram"

# You cannot use - in variable name

In [16]:
first-name = "Aayus"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2809317443.py, line 1)

# Numbers cannot br first letter in variable name but numbers can appear after letters

In [17]:
1animal = "Dog"

SyntaxError: invalid decimal literal (1181516469.py, line 1)

In [31]:
animal1 ="cow"

# Use underscore_to join to words in variable name.

In [19]:
first_name = "Aayus"#snake_case

In [20]:
first_number = 60.5

In [21]:
Myobj = 88 #PascalCase

# A good variable name must be given.

# Python is a Dynamic type language

In [23]:
1 + 2

3

In [24]:
"1" + "2"

'12'

In [25]:
"1" + 2

TypeError: can only concatenate str (not "int") to str

# updating variable values

In [3]:
a = 5
print(f'Before a = {a}')
a = 66
print(f'After a = {a}')

Before a = 5
After a = 66

In [4]:
a = 60.5
print(f'Before a = {a}')
a = a + 0.5
print(f'After a = {a}')

Before a = 60.5
After a = 61.0

# Assigning multiple values to multiple variable

In [33]:
a = 2
b = 0.2
c = 0.6 + 0.3j

In [30]:
a

2

In [31]:
b

0.2

In [34]:
c

(0.6+0.3j)

In [35]:
a, b, c = 2, 0.2, 0.6 + 0.3j

In [38]:
a, b, c = 2, 0.2

ValueError: not enough values to unpack (expected 3, got 2)

#WAP TO SWAP VALUES IF TWO VARIABLES.

In [1]:
num1 = 2.5
num2 = 0.36
float= num1
num1 = num2 
num2 = float
print(num1)
print(num2)

0.36
2.5

In [3]:
num1 = 2
num2 = 6
num1 = num2
print(num1)

6

In [9]:
rajan = 20
nitik = 26
shyam = rajan#assigning a third variable to exchange values.(shyam)
rajan = nitik
nitik = shyam
print(rajan)
print(nitik)

26
20

In [8]:
a = 5
b = 8 
a = a + b#13
b = a - b#13-8=5
a = a - b#13-5=8
print(a)
print(b)

8
5

In [2]:
no1 = 12
no2 = 15
number = no1
no1 = no2
no2 = number 
print(no1)
print(no2)

15
12

In [3]:
a = 20
b = 40
sum = a + b
print(sum)

60

In [1]:
print("hello")

hello

In [6]:
min = 42
sec1 = 42
sec2 = min *60
total_sec = sec1 + sec2
print(total_sec)

5922